<!-- reviews-index -->
<h1>Reviews</h1>

<!-- <a href="/reviews/new">New Review</a> -->
<div class="row">
    {{#each reviews}}
        <div class="col-sm-3">
            <h2><a href="/reviews/{{this._id}}">{{this.reviewTitle}}</a></h2>
            <small>{{this.movieTitle}}</small><br>
            <!-- <h5>{{review.rating}}</h5> -->
            <div class="stars-container">
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>

        <script type="text/javascript">

        var x = "{{this._id}}"
        $(".stars-container").attr("class", x);

        $("." + x).each(function( index, container ) {
            for (let i = 0; i <= $("." + x).children().length; i++) {
                const star = $("." + x).children().eq(i);
                if (i <= {{this.rating}} - 1) {
                    $(star).removeClass('far').addClass('fas');
                } else {
                    $(star).removeClass('fas').addClass('far');
                }
            }
        })
        </script>

    {{/each}}
</div>

{{#each reviews}}
<!-- CHANGE STAR VALUES
<script type="text/javascript">
var x = "{{this._id}}"
$(".stars-container").attr("class", x);

$("." + x).each(function( index, container ) {
    for (let i = 0; i <= $(container).children().length; i++) {
        const star = $(container).children().eq(i);
        if (i <= {{this.rating}} - 1) {
            $(star).removeClass('far').addClass('fas');
        } else {
            $(star).removeClass('fas').addClass('far');
        }
    }
})
</script> -->
{{/each}}
