<a href="/">Back to Home</a>

<h1>{{review.movieTitle}}</h1>
<h3>{{review.reviewTitle}}</h3>
<h5>{{review.rating}}</h5>
<p>{{review.description}}</p>

<p><a href="/reviews/{{review._id}}/edit">Edit</a></p>
