<a href="/">Back to Home</a>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{review.reviewTitle}}</h1>
        <h3>{{review.movieTitle}}</h3>
        <!-- <h5>{{review.rating}}</h5> -->
        <div class="stars-container">
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
        </div>

        <!-- CHANGE STAR VALUES -->
        <script type="text/javascript">
        $(document).ready(function() {
            for (let i = 0; i <= $('.stars-container').children().length; i++) {
                const star = $('.stars-container').children().eq(i);
                if (i <= {{review.rating}} - 1) {
                    $(star).removeClass('far').addClass('fas');
                } else {
                    $(star).removeClass('fas').addClass('far');
                }
            }
        })
        </script>

        <p>{{review.description}}</p>
        <p><a href="/reviews/{{review._id}}/edit">Edit</a></p>
        <!-- DELETE BUTTON -->
        <p><form method="POST" action="/reviews/{{review._id}}?_method=DELETE">
            <button type="submit">Delete</button>
        </form></p>

        <hr>

        <!-- COMMENT FORM -->
        {{> comment-form}}

        <hr>

        <!-- SHOW COMMENTS -->
        <h3>Comments</h3>
        <hr>
        
        <div>
            {{#each comments}}
                {{> comment}}
            {{/each}}
        </div>

    </div>
</div>
